{% extends "base.html" %}

{% block title %}
	Welcome to MeaninglessCodeName
{% endblock title %}

{% block extra_js %}
    <script src="{{STATIC_PREFIX}}js/index.js"></script>
    <script type="text/javascript">
        var next = '{{ next }}';
    </script>
{% endblock extra_js %}

{% block userinfo %}
	<!-- ><a href="#signin">Sign In</a> | <a href="#register">Register</a> -->
{% endblock userinfo %}

{% block content %}
<div id="index" class="container content">
	<div class="row">
		<div id="main" class="twelve columns">
			Welcome users to your home page!
		</div>
	</div>
</div>


{% endblock content %}
