{% extends "base.html" %}

{% block title %}
	Welcome to MeaninglessCodeName
{% endblock title %}

{% block extra_js %}
    <script src="{{STATIC_PREFIX}}js/listing.js"></script>
{% endblock extra_js %}

{% block userinfo %}
	<!-- ><a href="#signin">Sign In</a> | <a href="#register">Register</a> -->
{% endblock userinfo %}

{% block content %}
<div class=container>
	<div class="hero-unit">
	  <h1>Find Your Food Truck</h1>
	  <p>Enter details in the form below</p>
	</div>

	<!-- Example row of columns -->

	<div class="row">
		<div class="span12">
			<div class="row">
				<div class="span5">
					<form class="well" method="post">{% csrf_token %}
					    {{ form.non_field_errors }}
					    <div class="fieldWrapper">
					        {{ form.latitude.errors }}
					        <label for="latitude">Latitude:</label>
					        {{ form.latitude }}
					    </div>
					    <div class="fieldWrapper">
					        {{ form.longitude.errors }}
					        <label for="longitude">Longitude:</label>
					        {{ form.longitude }}
					    </div>
					    <div class="fieldWrapper">
					        {{ form.distance_range.errors }}
					        <label for="distance_range">Distance Range:</label>
					        {{ form.distance_range }}
					    </div>
					    <div class="fieldWrapper">
					        {{ form.time.errors }}
					        <label for="time">Time:</label>
					        {{ form.time }}
					    </div>
					    <div class="fieldWrapper">
					        {{ form.time_range.errors }}
					        <label for="time_range">Time Range:</label>
					        {{ form.time_range }}
					    </div>
					    <div class="fieldWrapper">
					        {{ form.categories_list.errors }}
					        <label for="categories_list">Categories:</label>
					        {{ form.categories_list }}
					    </div>
					    <div class="fieldWrapper">
					        {{ form.entities_list.errors }}
					        <label for="entities_list">Entities:</label>
					        {{ form.entities_list }}
					    </div>
						  <button type="submit" class="btn btn-primary">Find My Truck</button>
					</form>
				</div>
				<div class="span7">
					{% for entity_instance_to_template in entity_instances_to_template %}
					<div class="item">
						{{entity_instance_to_template.entitynode.name}}
						{{entity_instance_to_template.time_instance}}
						{{entity_instance_to_template.latitude}}
						{{entity_instance_to_template.longitude}}
					</div>
					{% endfor %}
				</div>
				<div class="span7">
					{{json_entity_instances}}
				</div>
		</div>
	</div>
</div>



{% endblock content %}