{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="cache-control" content="public" />
  <meta name="robots" content="follow, all" />
  <meta name="language" content="{{ LANGUAGE_CODE }}" />
  <meta name="description" content="{% block meta-description %} Insert description {% endblock meta-description %}" />
  <meta name="keywords" content="{% block meta-keywords %} Insert keywords {{ meta_keywords|join:", "}}{% endblock meta-keywords %}" />
  <meta name="author" content="MCN" />
  {% block meta %}{% endblock %}
  <link rel="pingback" href="/xmlrpc/" />
  <link rel="shortcut icon" href="{{STATIC_PREFIX}}images/favicon.ico" />
  <link rel="home" href="#" />
		
	<title>{% block title %}Replace the title{% endblock %} | </title>
  
	<!-- Add CSS Files -->
	<link rel="stylesheet" href="{{STATIC_PREFIX}}css/app.css">
	<link rel="stylesheet" href="{{STATIC_PREFIX}}css/bootstrap.css">
	<style type="text/css">
    body {
      padding-top: 60px;
      padding-bottom: 40px;
    }
  </style>
	<link rel="stylesheet" href="{{STATIC_PREFIX}}css/bootstrap-responsive.css">

	{% block base_css %}{% endblock base_css %}
	{% block extra_css %}{% endblock extra_css %}
	
	<!--[if lt IE 9]>
		<link rel="stylesheet" href="stylesheets/ie.css">
	<![endif]-->

	
	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>
<body>
	<div id="fb-root"></div>
	
	{% block pagecontent %}
	<!-- content -->
	<div id="content" class="container">
	</div>
	{% endblock pagecontent %}
		
		
	<!-- footer -->	
	<div id="footer" class="container">
		
		<div class="row">
			<div class="eight columns">
				<ul class="inline">
				<!-- Insert footer links -->
				<li><a href="/about">About</a></li>
				<li><a href="/howitworks">How It Works</a></li>
				<li><a href="/faq">FAQ</a></li>
				<li><a href="#" target="_blank">Blog</a></li>
				<li><a href="#" target="_blank">Twitter</a></li>
				<li><a href="#" target="_blank">Facebook</a></li>
				<li><a href="/terms">Terms</a></li>
				<li><a href="/contact">Contact Us</a></li>	
				</ul>
			</div>
			<div id="copyright" class="four columns">
				&copy; 2012 Meaningless Code Name, Inc.  All rights reserved.
			</div>
		</div>
	</div>
	

	<!-- Add JS Files -->

	<script src="{{STATIC_PREFIX}}js/jquery.min.js"></script>
	<script src="{{STATIC_PREFIX}}js/bootstrap.js"></script>

	{% block base_js %}{% endblock base_js %}
	{% block extra_js %}{% endblock extra_js %}
	
</body>
</html>