{% extends "base.html" %}

{% block title %}
	FAQ | MeaninglessCodeName
{% endblock title %}

{% block extra_js %}
    <script src="{{STATIC_PREFIX}}js/about.js"></script>
{% endblock extra_js %}

{% block userinfo %}
	<!-- ><a href="#signin">Sign In</a> | <a href="#register">Register</a> -->
{% endblock userinfo %}

{% block content %}
<div id="index" class="container content">
	<div class="row">
		<div id="main" class="twelve columns">
			FAQ Content Goes Here
		</div>
	</div>
</div>


{% endblock content %}