{% extends "base.html" %}

{% block title %}
	Welcome to MeaninglessCodeName
{% endblock title %}

{% block extra_js %}
		<script type="text/javascript"
		  src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBaMoK7sjdLd41FcZf8zkkD_nE2d8ZmRw4&sensor=false">
		</script>
		<script src="{{STATIC_PREFIX}}js/testmap.js"></script>

{% endblock extra_js %}

{% block userinfo %}
	<!-- ><a href="#signin">Sign In</a> | <a href="#register">Register</a> -->
{% endblock userinfo %}

{% block content %}

	<style type="text/css">
	  html { height: 100% }
	  body { height: 100%; margin: 0; padding: 0 }
	  #map_canvas { height: 100% }
	</style>

	<div class="span7">
		{% for entity_instance_to_template in entity_instances_to_template %}
		<div class="item">
			{{entity_instance_to_template.entitynode.name}}
			{{entity_instance_to_template.time_instance}}
			{{entity_instance_to_template.latitude}}
			{{entity_instance_to_template.longitude}}
		</div>
		{% endfor %}
	</div>

	<div class="span7">
		<div class="item">
			<!--This is not formatted correctly - is this not JSON format?-->
			{{json_entity_instances}}
		</div>
	</div>

	<div id="map_canvas" style="width:80%; height:80%" ></div>

	<div id="fake_json_container">
		<script type="text/javascript">
			//Complete garbage - this needs to be returned from the controller
			var json_object_for_map = {"locations": [{"pk": 2, "model": "core.entityinstance", "fields": {"latitude": 377250, "time_instance": "2011-12-31 23:59:59", "entitynode": 2, "longitude": -1224283}}, {"pk": 7, "model": "core.entityinstance", "fields": {"latitude": 377750, "time_instance": "2011-12-31 23:59:59", "entitynode": 7, "longitude": -1224783}}, {"pk": 17, "model": "core.entityinstance", "fields": {"latitude": 387750, "time_instance": "2011-12-31 23:59:59", "entitynode": 9, "longitude": -1214783}}, {"pk": 25, "model": "core.entityinstance", "fields": {"latitude": 367550, "time_instance": "2011-12-31 23:59:59", "entitynode": 8, "longitude": -1234683}}]}
		</script>
	</div>
	

{% endblock content %}