{% extends "base.html" %}

{% block title %}
	Welcome to MeaninglessCodeName
{% endblock title %}

{% block extra_js %}
		<script type="text/javascript"
		  src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBaMoK7sjdLd41FcZf8zkkD_nE2d8ZmRw4&sensor=false">
		</script>
		<script src="{{STATIC_PREFIX}}js/testmap.js"></script>

{% endblock extra_js %}

{% block userinfo %}
	<!-- ><a href="#signin">Sign In</a> | <a href="#register">Register</a> -->
{% endblock userinfo %}

{% block content %}

	<style type="text/css">
	  html { height: 100% }
	  body { height: 100%; margin: 0; padding: 0 }
	  #map_canvas { height: 100% }
	</style>

	<div id="map_canvas" style="width:80%; height:80%" ></div>

	<div id="json_container">
		<script type="text/javascript">
			var locations_list = {{json_entity_instances|safe}}
		</script>
	</div>

{% endblock content %}